<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">How-To: for Parks Officials </a></h2>
	<div class="entry">
		<p><strong>Before you begin.</strong> You should have been provided with some basic information about your park. For example; State: <b>Florida</b>; City: <b>Weston</b>; Park: <b>Tequesta</b>; and your own email address or sms-email address.</p>
		<br>
		<p><strong>STEP 1: Register - </strong> CLICK on the <a href="/register/">Register</a> link in the sidebar to the right. Enter your park information, including your email address and press the submit button. If someone has already been assigned as the Primary Park Authority you can request access as an Alternate.</p>
		<br>
		<p><strong>STEP 2: Confirmation - </strong> In just a few minutes you will receive a confirmation email. Read and follow the instructions in the email... in most cases it's just a simple click. If you do not receive an email, check your spam folder.</p>
		<br>
		<p><strong>STEP 3: Alert - </strong> When things go wrong and you need to shut down the park. CLICK the <a href="/alert/">Alert</a> link and fill in the information. Alternatively you can send an email to <a href="mailto:alerts@parkalerts.info">alerts@parkalerts.info</a> with the alert message in the subject line. (The body of the email will be ignored).</p>
		<br>
		<p><strong>STEP 4: Alert Confirmation - </strong> In just a few minutes you will receive a confirmation email. Read and follow the instructions in the email... in most cases it's just a simple click. If you do not receive an email, check your spam folder.</p>
		<br>
		<br>
		<p><strong>NOTE:</strong> In order to cancel your memberships(s) you can click on the CANCEL link in you most recent email alert confirmation.</p>
		<p><strong>NOTE:</strong> emails will come from alerts@parkalerts.info so please add it to your "whitelist".</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
