<div class="post">
	<p class="meta">{{ now }}</p>
	<h2 class="title"><a href="#">Invalid Account</a></h2>
	<div class="entry">
		<p>Your subscription/registration has expired or is invalid. Please try again.</p>
		<p>Sorry!</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
