<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">Privacy Policy </a></h2>
	<div class="entry">
		<p>We take your privacy seriously so this part of the website is still under legal review.</p>
		<p>Legal services provided by <a href="#">My Favorite Lawyer</a></p>
		<p></p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
