<div class="post">
	<p class="meta">{{ now }}</p>
	<h2 class="title"><a href="#">Registration Acknowledgement</a></h2>
	<div class="entry">
		<p>We have received the following information as your registration submission:</p>
		<ul>
		    <li>Park: <strong>{{ park_name }}</strong></li>
		    <li>E-Mail: <strong>{{ email }}</strong></li>
		</ul>
		<p>Since you are not the primary Park Authority for this park your request has been forwarded to the Primary Park Authority.</p>
		<p>Thank you!</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
