
<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">Register a Parks Official </a></h2>
	<div class="entry">
		<p></p>
		<p>
		    <label>&nbsp;</label>
		    <span class="error">* </span>= required<br>
		  <form action="/register/" method="POST" name="register">
                      <label>Park Authority:</label>
                	      <select name="official" id="official_id" onchange="select('official_id')" onfocus="select('official_id')">
                	          <option value="primary" {{ primary_official }}>Primary</option>
                	          <option value="alternate" {{ alternate_official }}>Alternate</option>
                          </select>
                	      <br>
                	      <br>
		              <div id="primary_id"  style="visibility: visible">
                      <label>Country:</label>
    		      <input type="text" name="country" id="country_id" size="25" maxlength="25" value="{{ country }}"><span class="error">* {{ country_err }}</span>
    		      <br>
                      <label>State:</label>
    		      <input type="text" name="state" id="state_id" size="2" maxlength="2" value="{{ state }}"><span class="error">* {{ state_err }}</span>
    		      <br>
                      <label>City:</label>
    		      <input type="text" name="city" id="city_id" size="25" maxlength="25" value="{{ city }}"><span class="error">* {{ city_err }}</span>
    		      <br>
                      <label>Park:</label>
    		      <input type="text" name="park" id="park_id" size="25" maxlength="35" value="{{ park }}"><span class="error">* {{ park_err }}</span>
    		      <br>
		      <layer></layer></div>

		      <div id="alternate_id"  style="visibility: visible">
                  <label>Park:</label>		      
                  <select name="park_select" id="park_select_id">
		          {{ park_list }}
	          </select><span class="error">* {{ park_select_err }}</span>
    		      <br>
		      <layer></layer></div>
                      <label>E-Mail:</label>
		      <input type="text" name="email" id="email_id" size="40" maxlength="150" value="{{ email }}">
    		      <span class="error">* {{ email_err }}</span>
		      <br>
		      <br>
		      <label>&nbsp;</label>
		      <input type="submit" name="submit" value="Register">
		  </form>
		</p>
		<p></p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>

<script>
var browserType;

if (document.layers) {browserType = "nn4"}
if (document.all) {browserType = "ie"}
if (window.navigator.userAgent.toLowerCase().match("gecko")) {
 browserType= "gecko"
}

function select(Sel) {
  if (browserType == "gecko" )
     did = 
         eval('document.getElementById(Sel)');
  else if (browserType == "ie")
     did = 
        eval('document.getElementById(Sel)');
  else
     did =   
        eval('document.layers[Sel]');
   if (did.value == "alternate") {
        hide('primary_id');
        show('alternate_id');
   }
   else {
        hide('alternate_id');
        show('primary_id');
   }
}

function toggle(X) {
  if (browserType == "gecko" )
     document.poppedLayer = 
         eval('document.getElementById(X)');
  else if (browserType == "ie")
     document.poppedLayer = 
        eval('document.getElementById(X)');
  else
     document.poppedLayer =   
        eval('document.layers[X]');
  if(document.poppedLayer.style.display == "none") 
      document.poppedLayer.style.display = "inline";
  else
      document.poppedLayer.style.display = "none";
}


function hide(X) {
  if (browserType == "gecko" )
     document.poppedLayer = 
         eval('document.getElementById(X)');
  else if (browserType == "ie")
     document.poppedLayer = 
        eval('document.getElementById(X)');
  else
     document.poppedLayer =   
        eval('document.layers[X]');
  document.poppedLayer.style.display = "none";
}

function show(X) {
  if (browserType == "gecko" )
     document.poppedLayer = 
         eval('document.getElementById(X)');
  else if (browserType == "ie")
     document.poppedLayer = 
        eval('document.getElementById(X)');
  else
     document.poppedLayer = 
         eval('document.layers[X]');
  document.poppedLayer.style.display = "inline";
}

</script>
