<ul>
	<li>
		<h2>Coach, Player, Parent</h2>
		<ul>
			<li><a href="/doc/?id=howto">How-To</a> use this system</li>
			<li><a href="/subscribe/">Subscribe</a> to a local park alert</li>
			<li><a href="/view/">View</a> alert history</li>
		</ul>
	</li>
	<li>
		<h2>Park Authority/Official</h2>
		<ul>
			<li><a href="/doc/?id=howto-official">How-To</a> use this system</li>
			<li><a href="/register/">Register</a> your city, park or event</li>
			<li><a href="/view/">View</a> alert history</li>
			<li><a href="/alert/">Alert</a> your subscribers</li>
		</ul>
	</li>
	<li>
		<h2>Miscellaneous</h2>
		<ul>
			<li><a href="/doc/?id=privacy">Privacy Policy</a></li>
			<li><a href="/doc/?id=terms">Terms of Service</a></li>
		</ul>
	</li>
</ul>
