<div class="post">
	<p class="meta">{{ now }}</p>
	<h2 class="title"><a href="#">Subscription Acknowledgement</a></h2>
	<div class="entry">
		<p>We have received the following information with your subscription submission:</p>
		<ul>
		    <li>Park: <strong>{{ park_name }}</strong></li>
		    <li>E-Mail: <strong>{{ email }}</strong></li>
		</ul>
		<p>You will receive a confirmation email shortly. You will be required to acknowledge receipt of that email in order to activate your account.</p>
		<p>Thank you!</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
