<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">View Past Alerts</a></h2>
	<div class="entry">
		<p>
		    <label>&nbsp;</label>
		    <span class="error">* </span>= required<br>
		  <form action="/view/" method="POST" name="view">
                  <label>Park:</label>		      
                  <select name="park_select" id="park_select_id">
		          {{ park_list }}
	          </select><span class="error">* {{ park_select_err }}</span>
		      <br>
		      <br>
		      <label>&nbsp;</label>
		      <input type="submit" name="submit" value="View">
		  </form>
		  
		</p>
		<p></p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
