<div class="post">
	<p class="meta">{{ now }}</p>
	<h2 class="title"><a href="#">View Past Alerts </a></h2>
	<div class="entry">
		<p>
                <span class="data">
		  <table>
		      <tr>
		          <th colspan=2 align=center>
		              {{ park_name }}
		          </th>
		      </tr>
		      <tr>
		          <th width="15em">
		              Date
		          </th>
		          <th width="80em">
		              Message
		          </th>
		      </tr>
		      {{ report }}
                  </table>
                  </span>
		</p>
		<!-- p>Click here for the <a href="#">RSS</a> Feed.</p -->
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
