<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
	<!-- header -->
    <div id="header">
        <div id="logo"><a href="{{ base_url }}"><span class="brown"><strong>{{ title }}</strong></span> {{ client_name }}</a></div>
<div id="menu">
        	<ul>
              <li><a href="/">Home</a></li>
          </ul>
      </div>
  </div>
    <!--end header -->
    <!-- main -->
    <div id="main">
          <div id="sidebar">
          <h2>Sidebar</h2>
          	<p>Once you have subscribed and logged into this service this sidebar section will contain many of the navigation shortcuts needed to be efficient in using this service.</p>
      </div>
          <div id="text" >
                <h1><strong>Welcome</strong></h1>
                <p>Almost everyone has heard of HIPPA and PCI; it's practically in the news every day and both can be very difficult to implement. That is not to say that this solution is going to correct all of the challenges that lay ahead but they do solve many problems and they promote useful, easy, security.</p>
                <p>Once you get past the physical security, the network security, the general authorization and authentication... there is data. Let's face it. Many of the largest security breaches took place when sysadmins tossed backup tapes into the dumpster.... The data was never encrypted.</p>
                <blockquote>The problem with data security is that the more you encrypt it the harder it is to use. Auditors, during a PCI audit, look for devices like tamper-proof HSM (Host Security Modules). These devices are extremely expensive and integration is often difficult. Add capacity planning and disaster recovery and your business and data could be compromised.</blockquote>
                <p>Enter WEB-HSM. This software as a service has two major initiatives:</p>
                <ul>
                    <li><strong>Business to Business</strong> - Through the use of our simple APIs the client-business can integrate our web-based services in order to generate public/private keys with and without expiration dates, rotate data encryption keys, setting and changing passphrases, encrypting and decrypting documents. All of the APIs can be enabled/disabled during account creation... allowing the key-officers to set the security level as required.</li>
                    <li><strong>Business to Consumer</strong> - The B2C is similar to the B2B, however, all of the APIs have a presented by an interactive website. Additionally, B2B clients gain additional functionality when the consumer has an account.</li>
                </ul>
                <blockquote><strong>use case:</strong> consider doctor with some patient information that needs to be stored at an offsite medical history repository. If the doctor and the patient are WEB-HSM subscribers.... the doctor would request a public encryption key from WEB-HSM based on the patient's account number. Then encrypt the sensitive information and upload it to the document repository with some non-private metadata. The only way that the doctor would ever be able to read the document is if the patient requested that the item(s) were decrypted; through a strict decryption process.</blockquote>
                <blockquote><strong>use case:</strong> Perhaps you rent or lease big ticket items and during the preparation of the paperwork you need to capture sensitive information (like a driver's license) that you only require when something goes very wrong with the application... like a possible theft. These documents can be secured by our encryption workflow preventing unauthorized access to the encrypted data to all but the most senior managers etc.</blockquote>
                <p>The service is nearly ready to launch. We are currently testing and evaluating the features, functions and workflows; and we are making good progress. We should be accepting applications for alpha and beta testers in the next few weeks. If you have any interest in participating please email me: [richard] [at] [cdrcache] [dot] [com]. (no solicitation please; questions and comments welcome)</p>
            
      </div>
    </div>
    <!-- end main -->
    <!-- footer -->
    <div id="footer">
        <div id="left_footer"><span class="twenty">&copy; Copyright</span> {{ copyright_years }} <b>{{ copyright }}</b> </div>
    <div id="right_footer">

<span class="twenty">Implementation </span>by <a href="{{ copyright_url }}">{{ copyright }}</a>

    </div>
  </div>
    <!-- end footer -->
</div>
</body>
</html>
