
		<div class="left" id="main_full">	

			<div id="splash">
			
				<div class="container">
			
					<div class="post">
						
						<h2><a href="#">Fresh highlight!</a></h2>

						<div class="date">June 17th, 2007 in <a href="#">Maecenas</a></div>
			
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<img src="/images/sample_image.png" alt="Sample Image" height="130" width="130" class="left" />

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>

						<div class="metadata">

							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>

							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>

							<div class="clearer"></div>

						</div>

					</div>

				</div>

			</div>
		
		</div>
