
		<div class="left" id="main_full">	

			<div id="splash">
			
				<div class="container">
			
					<div class="post">
						
						<h2><a href="#">Backlog</a></h2>
						<h3><a href="#">Input</a></h3>
						<h3><a href="#">Backlog</a></h3>
						<h3><a href="#">Ready</a></h3>

						<div class="date">June 17th, 2007 in <a href="#">Maecenas</a></div>
			
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>

						<div class="metadata">

							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>

							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>

							<div class="clearer"></div>

						</div>

					</div>

				</div>

			</div>
			<div id="splash">
			
				<div class="container">
			
					<div class="post">
						
						<h2><a href="#">Work</a></h2>
						<h3><a href="#">Stalled</a></h3>
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>
						<div class="metadata">
							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>
						<div class="metadata">
							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<h3><a href="#">Working</a></h3>
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>
						<div class="metadata">
							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<h3><a href="#">Complete</a></h3>
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>


						<div class="metadata">
							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>

					</div>

				</div>

			</div>
			
			<div id="splash">
			
				<div class="container">
			
					<div class="post">
						
						<h2><a href="#">Done</a></h2>
						<h3><a href="#">Testing</a></h3>
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>
						<div class="metadata">
							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<h3><a href="#">Done</a></h3>
						<div class="metadata2">
							<div class="left"><span class="comment"><a href="#">Build new menu</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>
						<div class="metadata">
							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>
							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>
							<div class="clearer"></div>
						</div>
						<h3><a href="#">Live</a></h3>

			
						<div class="body">

							<p>Winterplain is also available as a <a href="http://templates.arcsin.se/winterplain-wordpress-theme/">Wordpress theme</a>.</p>

							<p>Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.</p>

							<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus.</p>
							
						</div>

						<div class="metadata">

							<div class="left"><span class="comment"><a href="#">4 Comments</a></span></div>

							<div class="right"><span class="tag"><a href="#">porttitor</a>, <a href="#">arcu</a>, <a href="#">eget</a>, <a href="#">pretium</a></span></div>

							<div class="clearer"></div>

						</div>

					</div>

				</div>

			</div>
			
		</div>
		</div>
