<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<title>{{ title }}</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
</head>

<body>

<div id="container">

	<div id="top">

		<div class="left">
			<h1 id="site_title">Winterplain</h1>
			<div id="site_description">Free Website Template</div>
		</div>

		<a href="#" class="button feed right"><span></span></a>

		<div class="clearer"></div>

	</div>

<div class="path" id="nav">
{{ main_menu }}
<div class="clearer"></div>

	</div>

	<div id="main">

		<div class="left" id="main_left">

			<p>Nothing here..</p>
			
		</div>

		<div class="right" id="main_right">
			
			<div id="sidebar">
				
				<h2>Search</h2>
				<div class="content">
				<form method="get" id="searchform" action="">
					<div>
						<input type="text" value="" name="s" id="s" />
						<input type="submit" id="searchsubmit" value="Search" class="submit" />
					</div>
				</form>
				</div>
				
				<h2>Archives</h2>

				<ul class="content">
					<li><a href='http://templates.arcsin.se/wp-demo/2007/06/'>June 2007</a>&nbsp;(1)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/05/'>May 2007</a>&nbsp;(1)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/03/'>March 2007</a>&nbsp;(1)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/02/'>February 2007</a>&nbsp;(2)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/01/'>January 2007</a>&nbsp;(2)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/12/'>December 2006</a>&nbsp;(2)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/11/'>November 2006</a>&nbsp;(3)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/10/'>October 2006</a>&nbsp;(1)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/09/'>September 2006</a>&nbsp;(3)</li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/08/'>August 2006</a>&nbsp;(4)</li>
				</ul>

				<h2>Categories</h2>

				<ul class="content">
					<li><a href="http://templates.arcsin.se/wp-demo/category/single-column/">Single Column</a> (5)</li>
					<li><a href="http://templates.arcsin.se/wp-demo/category/three-columns/">Three Columns</a> (2)</li>
					<li><a href="http://templates.arcsin.se/wp-demo/category/two-columns/">Two Columns</a> (13)</li>
				</ul>

				<h2>Tags</h2>

				<div class="content">
					<a href="http://templates.arcsin.se/wp-demo/tag/black/" style="font-size: 10pt;">black</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/blue/" style="font-size: 11pt;">blue</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/bright/" style="font-size: 9pt;">bright</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/brown/" style="font-size: 9pt;">brown</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/citrus/" style="font-size: 8pt;">citrus</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/clean/" style="font-size: 12pt;">clean</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/colorful/" style="font-size: 8pt;">colorful</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/dark/" style="font-size: 14pt;">dark</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/dirty/" style="font-size: 8pt;">dirty</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/dynamic/" style="font-size: 9pt;">dynamic</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/fluid/" style="font-size: 8pt;">fluid</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/fresh/" style="font-size: 10pt;">fresh</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/gray/" style="font-size: 9pt;">gray</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/green/" style="font-size: 10pt;">green</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/lime/" style="font-size: 8pt;">lime</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/pink/" style="font-size: 8pt;">pink</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/red/" style="font-size: 8pt;">red</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/simple/" style="font-size: 11pt;">simple</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/smooth/" style="font-size: 8pt;">smooth</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/soft/" style="font-size: 8pt;">soft</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/summer/" style="font-size: 8pt;">summer</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/thin/" style="font-size: 8pt;">thin</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/trashy/" style="font-size: 9pt;">trashy</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/tribal/" style="font-size: 8pt;">tribal</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/web-20/" style="font-size: 12pt;">web&nbsp;2.0</a>
					<a href="http://templates.arcsin.se/wp-demo/tag/white/" style="font-size: 12pt;">white</a>
				</div>

				<h2>Blogroll</h2>

				<ul class="content">
					<li><a href="http://templates.arcsin.se/category/blogger-templates/">Blogger Templates</a></li>
					<li><a href="http://templates.arcsin.se/category/joomla-templates/">Joomla Templates</a></li>
					<li><a href="http://templates.arcsin.se/professional-templates/">Professional Templates</a></li>
					<li><a href="http://templates.arcsin.se/category/website-templates/">Website Templates</a></li>
					<li><a href="http://templates.arcsin.se/category/wordpress-themes/">Wordpress Themes</a></li>
				</ul>
				
			</div>
		</div>

		<div class="clearer"></div>

	</div>

	<div id="footer">

		<div class="left">
			&copy; 2007 <a href="#">Website.com</a> | <a href="#top">Go to top</a>
		</div>

		<div class="right"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></div>

		<div class="clearer"></div>
	
	</div>

</div>
</body>
</html>