<div id="footer">

<div class="left">
		&copy; {{ copyright_years }} Copyright&nbsp;by <a href="{{ copyright_url }}">{{ copyright }}</a>
 | <a href="#top">Go to top</a>
</div>

<div class="clearer"></div>

</div>
