<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<title>{{ title }}</title>
<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
</head>

<body>

<div id="container">


<div id="top">
<div class="left">
<h1 id="site_title">{{ title }}</h1>
<div id="site_description">{{ slogan }}</div>
</div>
<!-- a href="#" class="button feed right"><span></span></a -->
<div class="clearer"></div>
</div>
<div class="path" id="nav">
{{ main_menu }}
<div class="clearer"></div>
</div>


<div id="main">
{{ content }}
</div>

{{ side_bar }}

{{ footer }}

</div>
</body>
</html>