		<!-- div class="right" id="main_right">
			
			<div id="sidebar">
				
				<h2>Search</h2>
				<div class="content">
				<form method="get" id="searchform" action="">
					<div>
						<input type="text" value="" name="s" id="s" />
						<input type="submit" id="searchsubmit" value="Search" class="submit" />
					</div>
				</form>
				</div>
				
				<h2>Archives</h2>

				<ul class="content">
					<li><a href="#">June 2007</a> (1)</li>
					<li><a href="#">May 2007</a> (1)</li>
					<li><a href="#">March 2007</a> (1)</li>
					<li><a href="#">February 2007</a> (2)</li>
					<li><a href="#">January 2007</a> (2)</li>
					<li><a href="#">December 2006</a> (2)</li>
					<li><a href="#">November 2006</a> (3)</li>
					<li><a href="#">October 2006</a> (1)</li>
					<li><a href="#">September 2006</a> (3)</li>
					<li><a href="#">August 2006</a> (4)</li>
				</ul>

				<h2>Categories</h2>

				<ul class="content">
					<li><a href="#">Single Column</a> (5)</li>
					<li><a href="#">Three Columns</a> (2)</li>
					<li><a href="#">Two Columns</a> (13)</li>
				</ul>

				<h2>Tags</h2>

				<div class="content">
					<a href="#" style="font-size: 10pt;">quis</a>
					<a href="#" style="font-size: 11pt;">montesa</a>
					<a href="#" style="font-size: 9pt;">nascetur</a>
					<a href="#" style="font-size: 9pt;">ridiculus</a>
					<a href="#" style="font-size: 8pt;">semper</a>
					<a href="#" style="font-size: 12pt;">clean</a>
					<a href="#" style="font-size: 8pt;">convallis</a>
					<a href="#" style="font-size: 14pt;">tempor</a>
					<a href="#" style="font-size: 8pt;">sociis</a>
					<a href="#" style="font-size: 9pt;">feugiat</a>
					<a href="#" style="font-size: 8pt;">quam</a>
					<a href="#" style="font-size: 10pt;">euismod</a>
					<a href="#" style="font-size: 9pt;">ligula</a>
					<a href="#" style="font-size: 10pt;">penatibus</a>
					<a href="#" style="font-size: 8pt;">aliquam</a>
					<a href="#" style="font-size: 8pt;">sapien</a>
					<a href="#" style="font-size: 8pt;">volutpat</a>
					<a href="#" style="font-size: 11pt;">natoque</a>
					<a href="#" style="font-size: 8pt;">tincidunt</a>
					<a href="#" style="font-size: 8pt;">varius</a>
					<a href="#" style="font-size: 8pt;">summer</a>
					<a href="#" style="font-size: 8pt;">pellentesque</a>
					<a href="#" style="font-size: 9pt;">curabitur</a>
					<a href="#" style="font-size: 8pt;">porta</a>
				</div>

				<h2>Links</h2>

				<ul class="content">
					<li><a href="http://templates.arcsin.se/category/blogger-templates/">Blogger Templates</a></li>
					<li><a href="http://templates.arcsin.se/category/joomla-templates/">Joomla Templates</a></li>
					<li><a href="http://templates.arcsin.se/professional-templates/">Professional Templates</a></li>
					<li><a href="http://templates.arcsin.se/category/website-templates/">Website Templates</a></li>
					<li><a href="http://templates.arcsin.se/category/wordpress-themes/">Wordpress Themes</a></li>
				</ul>
				
			</div>
		</div>

		<div class="clearer"></div>

	</div -->