/*
Template Design by TheWebhub.com
http://www.thewebhub.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/

/** Common Styles */

body {
	margin: 0px;
	padding: 0;
	background: #000000;
	line-height: 1.6em;
	text-align: justify;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #C9C9C9;

}

h1 {
	font-size: 32px;
	font-weight: normal;
	text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

a {
	border-bottom: 1px dotted #528cae;
	text-decoration: none;
	color: #528cae;
}

a:hover {
	text-decoration: none;
}

/** HEADER */

#header {
	width: 800px;
	height: 80px;
	margin: 0px auto;
	padding: 40px 0 0 0;
/*	background: url(images/images05.jpg) no-repeat left top;*/
	background: url(images/logo-mg.jpg) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
}

#header h1 {
	margin: 0px;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 24px;
	color: #FFFFFF;
}

#header b {
	color: #000000;
}

#header h2 {
	margin: 0px;
	margin-top: -5px;
	padding-left: 15px;
	font-size: 11px;
}

#header h2 a {
	color: #000000;
}

/** MENU */

#menu-wrap {
	background: #1A1A1A url(images/images01.jpg) repeat-x left bottom;
	height: 50px;
}

#menu {
	width: 800px;
	height: 30px;
	margin: 0px auto;
}

#menu ul {
	margin-left: 10px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	border: none;
	padding: 15px 20px 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(images/images04.jpg) no-repeat left 85%;
	color: #FFFFFF;
}

#menu .current_page a {
	background: url(images/images04.jpg) no-repeat left 85%;
}
/** CONTENT */

#content {
	width: 800px;
	margin: 0px auto;
	padding: 0;
}

#columnA {
	float: right;
	width: 520px;
	margin-top: -90px;
}

#columnA h1, #columnA h2 {
	margin: 20px 0;
	padding: 5px 5px;
	/* border-left: #19B1F5 5px solid; */
	border-left: #528cae 5px solid;
}

#columnA p {
}

#columnA b {
	color: #528cae;
}

#columnB {
	float: left;
	width: 235px;
	margin-left: 10px;
}

#columnB h2 {
	margin: 10px 0;
	padding-bottom: 10px;
	font-size: large;
}

#columnB li {
	margin-bottom: 30px;
	padding-left: 7px;
	border-left: #528cae 5px solid;
}

/** FOOTER */

#footer-wrap {
	background: #1A1A1A url(images/images01.jpg) repeat-x left top;
	height: 100px;
}

#footer {
	width: 800px;
	margin: 0px auto;
	padding-top: 30px;
	font-size: 12px;
}

#footer .copyright {
	margin: 0px;
}

#footer .links {
	margin: 0px;
}

#footer .css {
	padding-left: 20px;
	background: url(images/images02.png) no-repeat left 50%;
}

#footer .xhtml {
	padding-left: 20px;
	background: url(images/images03.png) no-repeat left 50%;
}

#footer a {
	border: none;
	text-decoration: none;
	color: #528cae;
}
