<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ custom.title|safe }}</title>
<meta name="keywords" content="{{ custom.keywords|safe }}" />
<meta name="description" content="{{ custom.description|safe }}" />

<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="#">{{ custom.title|safe }}</a></h1>
<h2>{{ custom.description|safe }}</h2>
</div>

<div id="content">
<h2><a href="#">License and terms of use</a></h2>
DarkTheme is a CSS template that is free and fully standards compliant. <a href="http://www.free-css-templates.com/">Free CSS templates</a> designed this template.
This template is allowed for all uses, including commercial use, as it is released under the <strong>Creative Commons Attributions 2.5</strong> license. The only stipulation to the use of this free template is that the links appearing in the footer remain intact. Beyond that, simply enjoy and have fun with it!	 
<br /><br />
<img src="/static/images/pic.jpg" alt="Example pic" style="border: 3px solid #ccc;" />
<br /><br />
Donec nulla. Aenean eu augue ac nisl tincidunt rutrum. Proin erat justo, pharetra eget, posuere at, malesuada 
et, nulla. Donec pretium nibh sed est faucibus suscipit. Nunc nisi. Nullam vehicula. In ipsum lorem, bibendum sed, 
consectetuer et, gravida id, erat. Ut imperdiet, leo vel condimentum faucibus, risus justo feugiat purus, vitae 
congue nulla diam non urna.

<h2><a href="#">Title with a link - Example of heading 2</a></h2>
Donec nulla. Aenean eu augue ac nisl tincidunt rutrum. Proin erat justo, pharetra eget, posuere at, malesuada 
et, nulla. Donec pretium nibh sed est faucibus suscipit. Nunc nisi. Nullam vehicula. In ipsum lorem, bibendum sed, 
consectetuer et, gravida id, erat. Ut imperdiet, leo vel condimentum faucibus, risus justo feugiat purus, vitae 
congue nulla diam non urna.
</div>

<div id="leftmenu"> 
<h2>Categories</h2>
<ul>
<li><a href="#">World Politics</a></li> 
<li><a href="#">Europe Sport</a></li> 
<li><a href="#">Networking</a></li> 
<li><a href="#">Nature - Africa</a></li>
<li><a href="#">SuperCool</a></li> 
<li><a href="#">Last Category</a></li>
</ul>

<h2>Archives</h2>
<ul>
<li><a href="#">January 2007</a></li> 
<li><a href="#">February 2007</a></li> 
<li><a href="#">March 2007</a></li> 
<li><a href="#">April 2007</a></li>
<li><a href="#">May 2007</a></li> 
<li><a href="#">June 2007</a></li> 
<li><a href="#">July 2007</a></li> 
<li><a href="#">August 2007</a></li> 
<li><a href="#">September 2007</a></li>
<li><a href="#">October 2007</a></li>
<li><a href="#">November 2007</a></li>
<li><a href="#">December 2007</a></li>
</ul>
</div>

<div id="rightmenu"> 
<h2>Latest Articles</h2>
<ul>
<li><a href="#">Prescription drugs found in...</a></li> 
<li><a href="#">Spain PM seeks support after election</a></li> 
<li><a href="#">Chinese hackers: No site is safe...</a></li> 
<li><a href="#">Europe's rocket launches to space...</a></li>
<li><a href="#">Earthquake in Iran...</a></li> 
<li><a href="#">Doomsday vault built in Norway...</a></li>
</ul>
<h2>Advertisment</h2>
<div style="color: #aaa; height: 220px; width: 220px; padding: 15px; font-size: 23px; font-weight: 600; text-align: center; border: 1px solid #aaa;">
<br /><br />250<br />
x<br />
250
</div>
</div>

<div style="clear: both;"> </div>

<div id="footer">
&copy; {{ custom.copyright_year }} <a href="{{ custom.copyright_link }}/">{{ custom.copyright_by }}</a></a>
</div>

</div>
</body>
</html>

