
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: url(images/bg1_01.jpg) repeat left top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #707070;
}

h1, h2 {
	margin: 0px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #382C1D;
}

h1 {
	letter-spacing: -2px;
	font-size: 39px;
}

h2 {
	margin-bottom: 20px;
	letter-spacing: -1px;
	font-size: 24px;
}

h2.style1 {
	font-size: 18px;
	color: #CA6500;
}

h3 {
	margin: 0px;
	font-size: 11px;
	color: #382C1D;
}

p, ol, ul {
	margin-top: 0px;
	margin-bottom: 1.5em;
	padding-top: 5px;
	line-height: 1.9;
	text-align: justify;
}

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

ul.style1 li {
	margin-bottom: 30px;
}

ul.style1 h3, ul.style1 p {
	margin-left: 58px;
}

ul.style1 h3 {
	color: #C05C00;
}

ul.style1 p.date {
	float: left;
	width: 39px;
	height: 40px;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	background: url(images/homepage13.jpg) no-repeat left top;
	text-align: center;
	text-transform: lowercase;
	line-height: 1;
	font-size: 11px;
	color: #FFFFFF;
}

ul.style1 p.date b {
	font-size: 22px;
}

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

ul.style2 li {
	margin-bottom: 30px;
}

ul.style2 h3 {
	color: #839200;
}

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none none;
	line-height: normal;
}

ul.style3 li {
	padding: 7px 0px;
	background: url(images/homepage14.gif) repeat-x left top;
}

ul.style3 li.first {
	background: none;
}

strong {
	color: #505050;
}

a {
	color: #088284;
}

a:hover {
	text-decoration: none;
}

a.comments {
	padding: 0px 15px 0px 21px;
	background: url(images/homepage11.gif) no-repeat left center;
}

a.more {
	padding-left: 18px;
	background: url(images/homepage12.gif) no-repeat left center;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
	margin: 0px 25px 0px 0px;
}

img.alignright {
	float: right;
	margin: 0px 0px 0px 25px;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	height: 1200px;
	background: url(images/bg1_02.jpg) repeat-x left top;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/** MENU */

#menu {
	height: 380px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 280px;
	text-indent: -9999em;
}

#menu1 {
	height: 112px;
	background: url(images/homepage02.jpg) no-repeat left top;
}

#menu2 {
	height: 54px;
	background: url(images/homepage03.jpg) no-repeat left top;
}

#menu3 {
	height: 49px;
	background: url(images/homepage04.jpg) no-repeat left top;
}

#menu4 {
	height: 44px;
	background: url(images/homepage05.jpg) no-repeat left top;
}

#menu5 {
	height: 121px;
	background: url(images/homepage06.jpg) no-repeat left top;
}

/** PAGE */

#page {
	background: url(images/bg01.jpg) repeat-y;
}

#page .bottom {
	width: 1000px;
	height: 50px;
	background: url(images/bg04.jpg) no-repeat left top;
}

/** CONTENT */

#content {
	float: left;
	width: 520px;
	height: auto !important;
	height: 586px;
	min-height: 586px;
	padding: 80px 40px 0px 160px;
	background: url(images/bg02.jpg) no-repeat left top;
}

.two-columns {
	clear: left;
	width: auto;
	overflow: hidden;
	padding-top: 20px;
}

.two-columns .column1 {
	float: left;
	width: 240px;
}

.two-columns .column2 {
	float: right;
	width: 240px;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 280px;
	height: auto !important;
	height: 666px;
	min-height: 666px;
	background: url(images/bg03.jpg) no-repeat 100% 380px;
	color: #A18F7E;
}

#sidebar h2, #sidebar h3 {
	color: #E1CEBA;
}

/** BOX1 */

#box1 {
}

/** BOX2 */

#box2 {
}

/** BOX3 */

#box3 {
	padding: 30px 20px;
}

/** BOX4 */

#box4 {
	background: url(images/bg05.jpg) repeat-y left top;
}

#box4 .bgtop {
	height: 29px;
	background: url(images/bg06.jpg) no-repeat left top;
}

#box4 .bgbtm {
	height: 29px;
	background: url(images/bg07.jpg) no-repeat left top;
}

#box4 .content {
	padding: 20px 320px 0px 160px;
	color: #514537;
}

#box4 h2, #box4 h2 {
	color: #B6A590;
}

#box4 p, #box4 ol, #box4 ul {
	padding-top: 0px;
}

#box4 strong {
	color: #514537;
}

#box4 a {
	color: #685946;
}

#box4 .column1 {
	float: left;
	width: 320px;
}

#box4 .column2 {
	float: right;
	width: 160px;
}

/** FOOTER */

#footer {
	color: #4F4232;
}

#footer p {
	margin: 0px;
	padding: 20px 280px 20px 120px;
	text-align: center;
}

#footer .legal {
}

#footer .links {
}
