/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0px;
	background: #0E0B09 url(images/img04.jpg) repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #378043;
}

a:hover {
}

/** WRAPPER */

#wrapper {
	background: url(images/img02.jpg) repeat-y left top;
}

#wrapper-bgtop {
	background: url(images/img01.jpg) no-repeat left top;
}

#wrapper-bgbtm {
	background: url(images/img03.jpg) no-repeat left bottom;
}

/** HEADER */

#header {
	width: 950px;
	height: 141px;
	margin: 0px auto;
}

/** LOGO */

#logo {
	margin-top: -30px;
	padding-left: 70px;
	padding-bottom: 50px;
}

#logo h1 {
	margin: 0px;
	font-size: 36px;
	font-weight: normal;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h3 {
	padding-left: 3px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #BABABA;
}

#logo a {
	color: #BABABA;
}

/** MENU */

#menu {
	float: left;
	height: 42px;
	background: #378043;
}

#menu ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	height: 28px;
	padding: 14px 20px 0px 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
	background: #000000;
}

#menu .active {
	background: #000000;
}

/* Search */

#search {
	width: 270px;
	height: 60px;
	padding: 0px 0px 0px 30px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 150px;
	padding: 3px 5px 1px 5px;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 24px;
	color: #000000;
}

/* Page */

#page {
	width: 1000px;
	padding: 30px 0px;
}

#page-bgtop {
	padding: 20px px;
}

#page-bgbtm {
}

/* Content */

#content {
	float: left;
	width: 580px;
	padding: 20px 20px 0px 40px;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #378043;
}

.post .title a {
	color: #378043;
	border: none;
}

.post .meta {
	width: 400px;
	margin-top: -10px;
	padding: 5px 20px 5px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #377D41;
}

.post .meta a {
	color: #377D41;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 330px;
	padding: 0px;
	color: #82634E;
}

#sidebar-bgtop {
}

#sidebar-bgbtm {
	padding: 40px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #33261D;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #82634E;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #82634E;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/** FOOTER */

#footer {
	float: left;
	width: 950px;
	height: 100px;
}

#footer p {
	margin: 0px;
	padding: 30px 0px 0px 40px;
	color: #82634E;
}

#footer a {
	text-decoration: none;
	color: #82634E;
}

#footer .legal {
}

#footer .links {
}
