<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">Post an Alert </a></h2>
	<div class="entry">
		<p>Posting an alert is as simple as sending an email from one of the Park Authority/Official email accounts to <a href="mailto:alerts@parkalerts.info">alerts@parkalerts.info</a>. Just include your message in the <strong>subject</strong> line and send. Don't worry about the body of the email. It will be ignored.</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
