<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">How-To: for Coaches, Parents and Players </a></h2>
	<div class="entry">
		<p><strong>Before you begin.</strong> You should have been provided with some basic information from your park official. For example; State: <b>Florida</b>; City: <b>Weston</b>; Park: <b>Tequesta</b>; and your own email address or sms-email address.</p>
		<br>
		<p><strong>STEP 1: Subscription - </strong> CLICK on the <a href="/subscribe/">Subscribe</a> link in the sidebar to the right. Select the park for which you want to receive alerts and fill in your email address.</p>
		<br>
		<p><strong>STEP 2: Confirmation - </strong> In just a few minutes you will receive a confirmation email. Read and follow the instructions in the email... in most cases it's just a simple click. If you do not receive an email, check your spam folder.</p>
		<br>
		<p><strong>STEP 3:</strong> From now on you just wait. When things go wrong and the fields are not accessible you will receive an alert from your park official. Optionally, you can also <a href="/view">view</a> the current status or subscribe to the RSS feed(s).</p>
		<br>
		<br>
		<p><strong>NOTE:</strong> You can subscribe to more than one park alert.</p>
		<p><strong>NOTE:</strong> In order to cancel your subscription(s) you can click on the CANCEL link in you most recent email alert.</p>
		<p><strong>NOTE:</strong> emails will come from alerts@parkalerts.info so please add it to your "whitelist".</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
