<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{  description }}" />
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body onLoad="{{ focus }}">
<div id="wrapper">
	<div id="wrapper-bgtop">
		<div id="header">
			<div id="logo">
				<h1><a href="/">{{ title }} </a></h1>
				<p><em> service provided by <a href="{{ copyright_url }}">{{ copyright }}</a></em></p>
			</div>
			<hr />
			<!-- end #logo -->
			<div id="menu">
				<ul>
				    <!--  class="current_page_item" -->
					<li><a href="/" class="first">Home</a></li>
					<li><a href="/admin/">Admin</a></li>
					<li><a href="http://www.fl2it.com">About</a></li>
					<li><a href="mailto:richard@parkalerts.info?subject=[PARK-ALERTS] contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<!-- end #header-wrapper -->
		<div id="page">
			<div id="content">
{{ content }}
			</div>
			<!-- end #content -->
			<div id="sidebar">
{{ sidebar }}			
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>
</div>
<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright (c) {{ copyright_years }} {{ title }}. All rights reserved. Implemented by <a href="{{ copyright_url }}">{{ copyright }}</a>.</p>
	</div>
</div>
<!-- end #footer -->
</body>
</html>
