<div class="post">
	<p class="meta">{{ now }}</p>
	<h2 class="title"><a href="#">Registration Thank You</a></h2>
	<div class="entry">
		<p>Your registration has been activated.  You are now able to generate <strong>Park Alerts</strong>.</p>
		<p>Thank you!</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
