<div class="post">
	<p class="meta">{{ now }}</p>
	<h2 class="title"><a href="#">Subscription Thank You</a></h2>
	<div class="entry">
		<p>Your subscription has been activated.  You will receive all future <strong>Park Alerts</strong>.</p>
		<p>Thank you!</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
