<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">Subscribe to Alerts </a></h2>
	<div class="entry">
		<p>
		    <label>&nbsp;</label>
		    <span class="error">* </span>= required<br>
		  <form action="/subscribe/" method="POST" name="subscribe">
                  <label>Park:</label>		      
                  <select name="park_select" id="park_select_id">
		          {{ park_list }}
	          </select><span class="error">* {{ park_select_err }}</span>
    		      <br>
                      <label>E-Mail:</label>
		      <input type="text" name="email" id="email_id" size="40" maxlength="150" value="{{ email }}">
    		      <span class="error">* {{ email_err }}</span>
		      <br>
		      <br>
		      <label>&nbsp;</label>
		      <input type="submit" name="submit" value="Subscribe">
		  </form>
		  
		</p>
		<p></p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
