<div class="post">
	<p class="meta">Friday, January 1, 2010 at 12:01 AM Posted by <a href="/admin">Admin</a></p>
	<h2 class="title"><a href="#">Welcome to Park Alerts </a></h2>
	<div class="entry">
		<p>Have you ever been in this situation?  The last meeting of the day is running late;  you have 15 minute to get home, change, and take your kids to the field; only to find out... the fields are flooded; the lights are broken; the grounds crew have the flew; or there's a circus in town. <strong>The worst part is that you are now standing in a parking lot. All alone... in the rain.</strong></p>
		<p>Park Alerts is here to prevent these situations. It's also a lot easier than the traditional calling tree or the dysfunctional and never accurate answering machine. Let's face it; smart phones are everywhere and this site is designed to work with technology.</p>
		<p>We hope you like it and find it useful.</p>
		<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
