<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{ description }}" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="menu-wrap">
  <div id="menu">
    <ul>
      <li class="current_page"><a href="#">Homepage</a></li>
      <li><a href="#">Our Products</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
<div id="header">
    <h1>{{ title }}</h1>
    <h2><b><a href="{{ base_url }}">{{ client_name }}</a></b></h2>
</div>
<div id="content">
  <div id="columnA">
    <h2>Welcome to <b>Sitename.com</b></h2>
    <p>This template was coded using valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Transitional</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS 2.1</a> markups, which is distributed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines</a>. In a nutshell, you are free to:</p>
    <ul>
      <li><strong>to Share</strong> - to copy, distribute and transmit the work</li>
      <li><strong>to Remix</strong> - to adapt the work</li>
    </ul>
    <p>Under the following conditions:</p>
    <ul>
      <li><strong>Attribution</strong> - you must link back to <a href="http://www.thewebhub.com/"><strong>my site</strong></a> (the footer has already my link and that's fine.)</li>
      <li><strong>Share Alike</strong> - if you alter, transform, or  build upon this work, you may distribute the resulting work only under  the same, similar or a compatible license.</li>
    </ul>
    <h2>other <b>Credits</b></h2>
    <p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa.</p>
  </div>
  <div id="columnB">
    <h2>Recent Updates</h2>
    <ul>
      <li> Aliquam gravida massa eu arcu.Etiam odio rhoncus placerat mi, suscipit et, rhoncus ac, lacinia, nisl. <a href="#">More&#8230;</a></li>
      <li>Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. <a href="#">More&#8230;</a></li>
      <li>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa. <a href="#">More&#8230;</a></li>
      <li>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue sagittis ut, orci. <a href="#">More&#8230;</a></li>
    </ul>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer-wrap">
  <div id="footer">
      <p class="copyright">Copyright &copy; {{ copyright_years }} <a href="{{ copyright_url }}">{{ copyright }}</a>. </p>
  </div>
</div>
</body>
</html>
