<div class="post">
	<p class="meta">
		Friday, January 4, 2010 at 12:01 AM Posted by 
		<a href="/admin">
			Admin</a>
	</p>
	<h2 class="title">
		<a href="#">
			Vacay Templates 
		</a>
	</h2>
	<div class="entry">
		<p>
			TBD
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
