<div class="post">
	<p class="meta">
		Friday, January 4, 2010 at 12:01 AM Posted by 
		<a href="/admin">
			Admin 
		</a>
	</p>
	<h2 class="title">
		<a href="#">
			Comments, suggestions or Questions? 
		</a>
	</h2>
	<div class="entry">
		<p>
			We value your input. Feel free to send us an email and we will respond in kind.
		</p>
		<p>
			<i>
				<strong>
					No Solicitation Please !
				</strong>
			</i>
		</p>
		<p style="padding-left:5em">
			General/Misc: 
			<a href="mailto:{{ general_email }}?subject=general question">
				{{ general_email }} 
			</a>
		</p>
		<p style="padding-left:5em">
			Pre-Sales: 
			<a href="mailto:{{ sales_email }}?subject=sales question">
				{{ sales_email }} 
			</a>
		</p>
		<p style="padding-left:5em">
			Support: 
			<a href="mailto:{{ tech_email }}?subject=tech question">
				{{ tech_email }}</a>. 
			<br><i>
				(if you have a support contract please provide the contract number on the subject line.) 
			</i>
		</p>
		<hr>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
