<div class="post">
	<p class="meta">
		Friday, January 4, 2010 at 12:01 AM Posted by 
		<a href="/admin">
			Admin
		</a>
	</p>
	<h2 class="title">
		<a href="#">
			Online Documentation 
		</a>
	</h2>
	<div class="entry">
		<p>
			The 
			<strong>
				Vacation Planner
			</strong>
			application is an optionally free service application designed to allow teams or groups of individuals to schedule their on/off time. Predominantly meant for vacation time a simple inversion of the group meaning also permits for simple resource scheduling. 
		</p>
		<p>
			The process is broken up into several small steps: 
		</p>
		<ol>
			<li>
				Group manager/leader registers the group and forwards supplied email template to all of the members of the group.
			</li>
			<li>
				Members receive a membership email which they acknowledge in order to join the group.
			</li>
			<li>
				The member requests some time of then acknowledges the request.
			</li>
			<li>
				The manager receives the request and current schedule; then decides whether or not to approve it.
			</li>
			<li>
				At the beginning of each month a report is generated for the previous month and sent to the manager.
			</li>
		</ol>
		<p>
			This outline exagerates the simplicity, however, it is really easy to use nonetheless. 
		</p>
		<p>
			Once the system has been adopted by the team(s) the data can be exported for use by management, HR or payroll. As a value-add to our customers we are constantly updateing the exporting system. If there is format that you desire that we don't already suport. Drop us a line along with the documentation for your request and we'll consider it for an upcoming release. 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<hr>
	<h3 class="title">
		<a name="register">
			Registration 
		</a>
	</h3>
	<div class="entry">
		<p>
			<strong>Who are you?</strong> You are the manager of a group of people who report to you and request vacation time. Once you have registered your group you will email your members an invitation which they should use to join the group.
		</p>
		<p>
			Specifically... once you fill out the registration form you will receive an acknowledgement email.  You must click on or point your browser to the acknowledgement link. Once you have acknowledged your group's registration you will be given a template for an email you should forward to your members. 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<h3 class="title">
		<a name="join">
			Join 
		</a>
	</h3>
	<div class="entry">
		<p>
			<strong>Who are you?</strong> You report to a team lead or manager and that person makes scheduling decisions about your vacation time. You received an email from you manager requesting that you join this group in order to effectively schedule time off.
		</p>
		<p>
			You received an email from your group manager requesting that you join this group.  Inside the email is an acknowledgment link. When you click on the link your membership in the assigned group will be confirmed. When you want to take some vacation time all you need to do is fill out the request or click on the link in the membership email.
		</p>
		<p>
			<i>(it is a good idea to keep this email in an easy to reference place or just bookmark the <strong>request time-off</strong> link)</i>
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<h3 class="title">
		<a name="request">
			Request Time Off 
		</a>
	</h3>
	<div class="entry">
		<p>
			TBD 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<h3 class="title">
		<a name="response">
			Response to Join Request 
		</a>
	</h3>
	<div class="entry">
		<p>
			TBD 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<h3 class="title">
		<a name="reports">
			Reporting 
		</a>
	</h3>
	<div class="entry">
		<p>
			TBD 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<h3 class="title">
		<a name="templates">
			Email Templates 
		</a>
	</h3>
	<div class="entry">
		<p>
			TBD 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<hr>
	<h3 class="title">
		<a name="terms">
			Terms of Service 
		</a>
	</h3>
	<div class="entry">
		<p>
			TBD 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
	<h3 class="title">
		<a name="privacy">
			Privacy Policy 
		</a>
	</h3>
	<div class="entry">
		<p>
			TBD 
		</p>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
