<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="keywords" content="{{ keywords }}" />
		<meta name="description" content="{{ description }}" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>
			{{ title }} by {{ copyright }}
		</title>
		<link href="/default.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css">
				body {
				background: url('http://www.everylayout.com/images/darkcamo.gif') repeat fixed center;
				}
				</style>
				<!-- a href="http://www.everylayout.com/" target="_blank"><img src="http://www.everylayout.com/support.gif" alt="Myspace Layouts" style="position:absolute; left:0px; top: 0px;" border="0"></a --> 
	</head>
	<body>
		<div id="wrapper">
			<div id="wrapper-bgtop">
				<div id="wrapper-bgbtm">
<!-- end #header -->
					<div id="page">
						<div id="page-bgtop">
							<div id="page-bgbtm">
								<div id="menu">
									<ul>
										<li>
											<a href="/" class="{{ home_active }}">
												Home</a>
										</li>
										<li>
											<a href="/account/" class="{{ account_active }}">
												My Account</a>
										</li>
										<li>
											<a href="/docs/" class="{{ docs_active }}">
												Documentation</a>
										</li>
										<li>
											<a href="/contact/" class="{{ contact_active }}">
												Contact</a>
										</li>
									</ul>
								</div>
<!-- end #menu -->
								<div id="content">
									{{ content }} 
									<div style="clear: both;">
										&nbsp;
									</div>
								</div>
<!-- end #content -->
								<div id="sidebar">
									<div id="logo">
										<h1>
											<a href="/">
												{{ title }} 
											</a>
										</h1>
										<h3>
											service by 
											<a href="{{ copyright_url }}">
												{{ copyright }}</a>
										</h3>
									</div>
									{{ sidebar }} 
								</div>
<!-- end #sidebar -->
								<div style="clear: both;">
									&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;">
			&nbsp;
		</div>
		<div id="footer">
			<p>
				Copyright (c) {{ copyright_years }} {{ copyright }} All rights reserved.
			</p>
		</div>
	</body>
</html>
