<ul>
	<li>
		<h2>
			Account Tasks
		</h2>
		<ul>
			<li>
				<a href="/account/register/">
					Register your SOHO</a>
			</li>
			<li>
				<a href="/account/join/">
					Join an existing SOHO</a>
			</li>
			<li>
				<a href="/account/request/">
					Request time off</a>
			</li>
			<li>
				<a href="/account/response/">
					Response to requests</a>
			</li>
			<li>
				<a href="/account/reports/">
					Reporting</a>
			</li>
			<li>
				<a href="/account/templates/">
					Email Templates</a>
			</li>
		</ul>
	</li>
	<li>
		<h2>
			Help
		</h2>
		<ul>
			<li>
				<a href="/docs/#register">
					Registering</a>
			</li>
			<li>
				<a href="/docs/#join">
					Joining</a>
			</li>
			<li>
				<a href="/docs/#request">
					Requesting time off</a>
			</li>
			<li>
				<a href="/docs/#response">
					Responding to requests</a>
			</li>
			<li>
				<a href="/docs/#reports">
					Reporting</a>
			</li>
			<li>
				<a href="/docs/#templates">
					Template usage</a>
			</li>
			<li>
				<a href="/docs/#privacy">
					Privacy Policy</a>
			</li>
			<li>
				<a href="/docs/#terms">
					Terms of Service</a>
			</li>
		</ul>
	</li>
	<li>
		<h2>
			Links
		</h2>
		<ul>
			<li>
				<a href="http://www.parkalerts.info">
					Park Alerts</a>
			</li>
			<li>
				<a href="http://www.friedlawgroup.com">
					Fried Law Group</a>
			</li>
		</ul>
	</li>
</ul>
