<div class="post">
	<p class="meta">
		Friday, January 4, 2010 at 12:01 AM Posted by 
		<a href="/admin">
			Admin
		</a>
	</p>
	<h2 class="title">
		<a href="#">
			Welcome to Vacation Planner 
		</a>
	</h2>
	<div class="entry">
		<p>
			This application is one in a series of SOHO applications that our team is working on to aid your business without having to resort to buying applications that cost many thousands or even tens of thousands of dollars. We're also trying to keep your administration costs down too. 
		</p>
		<p>
			In return for our service you can pay us a very minor fee, make a one-time donation or elect the free option where we embed some advertising. 
		</p>
		<p>
			Keep in mind we want to help and not distract you or your employees. 
		</p>
		<p>
			For more information see our online 
			<a href="/docs/">
				documentation 
			</a>
			or feel free to submit an 
			<a href="/contact/">
				email 
			</a>
			and we'll get back to you as soon as we can. Of course if you have a service contract we'll get back to you sooner. 
		</p>
		<p>
			We look forward to serving you.
		</p>
		<hr/>
<!-- div><a href="#" class="links">View Full Story</a></div -->
	</div>
</div>
