      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Employee User Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Admin names/Emails are not permitted.
               </p>


<table>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>City</th>
            <th>State</th>
            <th>Active</th>
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in employees %}
        <tr>
            <td>{{ p.lastname }}</td>
            <td>{{ p.firstname }}</td>
            <td>{{ p.city }}</td>
            <td>{{ p.state }}</td>
            {% ifnotequal p.partner.name def_name %}
            <td>
            {% if p.is_active %}
            <a href="/admin/toggle_employee?key={{ p.key }}">True</a>
            {% else %}
            <a href="/admin/toggle_employee?key={{ p.key }}">False</a>
            {% endif %}
            </td>
            <td><a href="/admin/employee?key={{ p.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/admin/delete_employee?key={{ p.key }}">Del</a>
                {% endifequal %}
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action="">
    Last Name: <input type="text" name="lastname" value="{{ i.lastname }}" maxlength="55" size="55">
    <br>
    First Name: <input type="text" name="firstname" value="{{ i.firstname }}" maxlength="55" size="55">
    <br>
    MI: <input type="text" name="mi" value="{{ i.mi }}" maxlength="2" size="2">
    <br>
    per diem: <input type="text" name="perdiem" value="{{ i.perdiem }}" maxlength="12" size="12">
    <br>
    Rate: <select name="rate">
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in rates %}
        {% ifequal p.key i.rate.key %}
        <option value="{{ p.key }}" selected>{{ p.name }}</option>
        {% else %}
        <option value="{{ p.key }}">{{ p.name }}</option>
        {% endifequal %}
    {% endfor %}</select>
    <br>
    Address 1: <input type="text" name="addr1" value="{{ i.addr1 }}" maxlength="55" size="55">
    <br>
    Address 2: <input type="text" name="addr2" value="{{ i.addr2 }}" maxlength="55" size="55">
    <br>
    City: <input type="text" name="city" value="{{ i.city }}" maxlength="55" size="55">
    <br>
    State: <input type="text" name="state" value="{{ i.state }}" maxlength="55" size="55">
    <br>
    Zip: <input type="text" name="zip" value="{{ i.zip }}" maxlength="5" size="5">
    <br>
    Phone 1: <input type="text" name="phone1" value="{{ i.phone1 }}" maxlength="12" size="12"> <i>800-555-1212</i>
    <br>
    Phone 2: <input type="text" name="phone2" value="{{ i.phone2 }}" maxlength="12" size="12"> <i>800-555-1212</i>
    <br>

    Non-Travel Employee: <input type="checkbox" name="nontravel_employee" {% if i.nontravel_employee %}checked{% endif %}><br>
    Travel Partner: <select name="buddy">
    {% if not i.buddy %}
        <option value="" selected>No Travel Partner Selected</option>
    {% else %}
        <option value="">No Travel Partner Selected</option>
    {% endif %}
    {% for p in buddies %}
        {% ifnotequal p.key i.key %}
        {% ifequal p.key i.buddy.key %}
        <option value="{{ p.key }}" selected>{{ p.lastname }}, {{ p.firstname }}</option>
        {% else %}
        <option value="{{ p.key }}">{{ p.lastname }}, {{ p.firstname }}</option>
        {% endifequal %}
        {% endifnotequal %}
    {% endfor %}</select>
    <br>
    Pay Stub Required: <input type="checkbox" name="paystub_required" {% if i.paystub_required %}checked{% endif %}><br>
    Active Employee: <input type="checkbox" name="is_active" {% if i.is_active %}checked{% endif %}><br>
    <br>
    <input type="hidden" name="key" value="{{ i.key }}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>