      	<div class="post">

      		<div class="right">

            	<h2><a href="/">To Do</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>
               <ol>
                <li>full login (uid/pwd)</li>
                <li>forgot password</li>
                <li>change password</li>
                <li>expenses</li>
                <ol>
                    <li><strike>manager lock</strike></li>
                    <li><strike>admin lock/unlock</strike></li>
                    <li><strike>admin always edit</strike></li>
                    <li><strike>manager edit</strike></li>
                </ol>
                <li>timesheet</li>
                <ol>
                    <li>manager lock</li>
                    <li>admin lock/unlock</li>
                    <li>admin always edit</li>
                    <li>manager edit</li>
                    <li>employee total</li>
                    <li>weekly+shift totals</li>
                </ol>
                <li><strike>remove partner from the menubar</strike></li>
                <li>reports</li>
                <ol>
                    <li>timesheet/expenses summary (what is done)</li>
                </ol>
                <li>job application plus join to employee DB</li>
                <li>CSV import/export</li>
                </ol>
               
               </p>



               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                  	<!-- h4>Post Info</h4>
                     	<ul>
                           <li class="user"><a href="#">Erwin</a></li>
                           <li class="time"><a href="#">12:30 PM</a></li>
                           <li class="comment"><a href="#">2 Comments</a></li>
                           <li class="permalink"><a href="#">Permalink</a></li>
                        </ul -->
						</div>

            </div>
</div>