      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Week Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Admin names/Emails are not permitted.
               </p>


<table>
    <thead>
        <tr>
            <th>Week of</th>
            <th>Active</th>
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in weeks %}
        <tr>
            <td>{{ p.week_ending }}</td>
            {% ifnotequal p.partner.name def_name %}
            <td>
            {% if p.is_active %}
            <a href="/admin/toggle_week?key={{ p.key }}">True</a>
            {% else %}
            <a href="/admin/toggle_week?key={{ p.key }}">False</a>
            {% endif %}
            </td>
            <td><a href="/admin/week?key={{ p.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/admin/delete_week?key={{ p.key }}">Del</a>
                {% endifequal %}
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action="">
    Week Ending: <input type="text" name="week_ending" value="{{ i.week_ending }}" maxlength="10" size="10"> <i>2010-01-01</i>
    <br>
    <input type="hidden" name="key" value="{{ i.key}}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>