      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Rate Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Enter Pay Rates.
               </p>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Active</th>
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in rates %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.amount }}</td>
            {% ifnotequal p.partner.name def_name %}
            <td>
            {% if p.is_active %}
            <a href="/admin/toggle_rate?key={{ p.key }}">True</a>
            {% else %}
            <a href="/admin/toggle_rate?key={{ p.key }}">False</a>
            {% endif %}
            </td>
            <td><a href="/admin/rate?key={{ p.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/admin/delete_rate?key={{ p.key }}">Del</a>
                {% endifequal %}
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action="">
    Name: <input type="text" name="name" value="{{ i.name }}" maxlength="55" size="55">
    <br>
    Amount: <input type="text" name="amount" value="{{ i.amount }}" maxlength="10" size="10">
    <br>
    <input type="hidden" name="key" value="{{ i.key }}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>