      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Welcome To Store Setter</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               	<div class="image-section">
              			<img src="images/img-post.jpg" alt="image post" height="200" width="500"/>
         	    	</div>

               <p><strong>Resetter</strong> is a private application that is intended for our customer's private use.
               </p>

               <p>If you want to become a client... just ask.
					</p>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                  	<!-- h4>Post Info</h4>
                     	<ul>
                           <li class="user"><a href="#">Erwin</a></li>
                           <li class="time"><a href="#">12:30 PM</a></li>
                           <li class="comment"><a href="#">2 Comments</a></li>
                           <li class="permalink"><a href="#">Permalink</a></li>
                        </ul -->
						</div>

            </div>
</div>