      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Expenses</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Select a Week-ending and a Shift, then enter your expenses.
               </p>

<form method="GET" action="">
    Week Ending: <select name="this_week"> 
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in weeks %}
    {% ifequal this_week.key p.key %}
        <option value="{{ p.key }}" selected>{{ p.week_ending }}</option>
    {% else %}
        <option value="{{ p.key }}">{{ p.week_ending }}</option>
    {% endifequal %}
    {% endfor %}
    </select>
    <br>
    Shift: <select name="this_shift"> 
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in shifts %}
    {% ifequal this_shift.key p.key %}
        <option value="{{ p.key }}" selected>{{ p.project.store.client.name }} - {{ p.project.store.state.name }} - {{ p.project.store.name }} - {{ p.project.name }} - {{ p.name }}</option>
    {% else %}
        <option value="{{ p.key }}">{{ p.project.store.client.name }} - {{ p.project.store.state.name }} - {{ p.project.store.name }} - {{ p.project.name }} - {{ p.name }}</option>
    {% endifequal %}
    {% endfor %}
    </select>
    
    <input type="submit" name="go" value="Go!"><br>
    {% if this_week and this_shift %}
    {% if not is_locked %}
    click <a href="/{{ role }}/lock_expense?this_shift={{ this_shift.key }}&this_week={{ this_week.key }}">here</a> to lock
    {% endif %}
    {% endif %}
    
</form>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <!-- th>Active</th -->
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in expenses %}
        <tr>
            <td>{{ p.description }}</td>
            <td>{{ p.amount }}</td>
            {% ifnotequal p.partner.name def_name %}
            <!-- td>
            {% if p.is_active %}
            <a href="/admin/toggle_expense?key={{ p.key }}&this_shift={{ this_shift.key }}">True</a>
            {% else %}
            <a href="/admin/toggle_expense?key={{ p.key }}&this_shift={{ this_shift.key }}">False</a>
            {% endif %}
            </td -->
            {% if is_locked %}
            <td><i>locked</i></td>
            {% else %}
            <td><a href="/admin/expense?key={{ p.key }}&this_shift={{ this_shift.key }}&this_week={{ this_week.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/admin/delete_expense?key={{ p.key }}&this_shift={{ this_shift.key }}&this_week={{ this_week.key }}">Del</a>
                {% endifequal %}
            </td>
            {% endif %}
            {% else %}
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action=""> 
{% if not is_locked %}
{% if this_shift and this_week %}
    Description: <input type="text" name="description" value="{{ i.description }}" maxlength="55" size="55">
    <br>
    Amount: <input type="text" name="amount" value="{{ i.amount }}" maxlength="10" size="10">
    <br>
    <input type="hidden" name="this_shift" value="{{ this_shift.key }}">
    <input type="hidden" name="this_week" value="{{ this_week.key }}">
    <input type="hidden" name="key" value="{{ i.key }}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
{% else %}
    <p>select a Week Ending and a Shift, then press GO.</p>
{% endif %}
{% else %}
    {% ifequal role 'admin' %}
    click <a href="/admin/unlock_expense?this_shift={{ this_shift.key }}&this_week={{ this_week.key }}">here</a> to unlock
    {% else %}
    <p>This week is locked. Ask the admin to unlock.</p>
    {% endifequal %}
{% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>