      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Store Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Admin names/Emails are not permitted.
               </p>


<table>
    <thead>
        <tr>
            <th>Client</th>
            <th>State</th>
            <th>Store</th>
            <th>Manager</th>
            <th>Active</th>
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in stores %}
        <tr>
            <td>{{ p.client.name }}</td>
            <td>{{ p.state.name }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.manager.name }}</td>
            {% ifnotequal p.partner.name def_name %}
            <td>
            {% if p.is_active %}
            <a href="/admin/toggle_store?key={{ p.key }}">True</a>
            {% else %}
            <a href="/admin/toggle_store?key={{ p.key }}">False</a>
            {% endif %}
            </td>
            <td><a href="/admin/store?key={{ p.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/admin/delete_store?key={{ p.key }}">Del</a>
                {% endifequal %}
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action="">
    Client: <select name="client">    
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in clients %}
        {% ifequal p.key i.client.key %}
        <option value="{{ p.key }}" selected>{{ p.name }}</option>
        {% else %}
        <option value="{{ p.key }}">{{ p.name }}</option>
        {% endifequal %}
    {% endfor %}
    </select>
    <br>
    State: <select name="state">    
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in states %}
        {% ifequal p.key i.state.key %}
        <option value="{{ p.key }}" selected>{{ p.name }}</option>
        {% else %}
        <option value="{{ p.key }}">{{ p.name }}</option>
        {% endifequal %}
    {% endfor %}
    </select>
    <br>
    Manager: <select name="manager">    
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in managers %}
        {% ifequal p.key i.manager.key %}
        <option value="{{ p.key }}" selected>{{ p.name }}</option>
        {% else %}
        <option value="{{ p.key }}">{{ p.name }}</option>
        {% endifequal %}
    {% endfor %}
    </select>
    <br>
    Store: <input type="text" name="name" value="{{ i.name }}" maxlength="75" size="75">
    <br>
    <input type="hidden" name="key" value="{{ i.key }}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>