      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Expenses</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Admin names/Emails are not permitted.
               </p>




               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action="">
    Name: <input type="text" name="partner_name" value="" maxlength="55" size="55">
    <br>
    Email: <input type="text" name="partner_name" value="" maxlength="75" size="75">
    <br>
    Partner: <select><option value="1">Alpha Co.</option></select>
    <br>
    <input type="submit" name="add" value="Add!">
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>