      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Admin Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Admin names/Emails are not permitted.
               </p>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Partner Name</th>
            <th>Active</th>
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in users %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.email}}</td>
            <td>{{ p.partner.name }}</td>
            {% ifnotequal p.partner.name def_name %}
            <td>
            {% if p.is_active %}
            <a href="/root/toggle_admin?key={{ p.key }}">True</a>
            {% else %}
            <a href="/root/toggle_admin?key={{ p.key }}">False</a>
            {% endif %}
            </td>
            <td><a href="/root/create_admin?key={{ p.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/root/delete_admin?key={{ p.key }}">Del</a>
                {% endifequal %}
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action="">
    Name: <input type="text" name="name" value="{{ i.name }}" maxlength="55" size="55">
    <br>
    Email: <input type="text" name="email" value="{{ i.email }}" maxlength="75" size="75">
    <br>
    Partner: <select name="partner">      
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in partner %}
        {% ifequal i.partner.key p.key %}
        <option value="{{ p.key }}" selected>{{ p.name }}</option>
        {% else %}
        <option value="{{ p.key }}">{{ p.name }}</option>
        {% endifequal %}
    {% endfor %}
    </select>
    <br>
    <input type="hidden" name="key" value="{{ i.key}}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>