      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Assignment Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Admin names/Emails are not permitted.
               </p>

<form method="GET" action="">
    Shift: <select name="this_shift"> 
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in shifts %}
    {% ifequal this_shift.key p.key %}
        <option value="{{ p.key }}" selected>{{ p.project.store.client.name }} - {{ p.project.store.state.name }} - {{ p.project.store.name }} - {{ p.project.name }} - {{ p.name }}</option>
    {% else %}
        <option value="{{ p.key }}">{{ p.project.store.client.name }} - {{ p.project.store.state.name }} - {{ p.project.store.name }} - {{ p.project.name }} - {{ p.name }}</option>
    {% endifequal %}
    {% endfor %}
    </select>
    <input type="submit" name="go" value="Go!">
</form>

<table>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Rate</th>
            <!-- th>Active</th -->
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in assignments %}
        <tr>
            <td>{{ p.employee.lastname}}</td>
            <td>{{ p.employee.firstname }}</td>
            <td>{{ p.employee.rate.name }}</td>
            {% ifnotequal p.partner.name def_name %}
            <!-- td>
            {% if p.is_active %}
            <a href="/admin/toggle_assignment?key={{ p.key }}&this_shift={{ this_shift.key }}">True</a>
            {% else %}
            <a href="/admin/toggle_assignment?key={{ p.key }}&this_shift={{ this_shift.key }}">False</a>
            {% endif %}
            </td -->
            <td><a href="/admin/assignment?key={{ p.key }}&this_shift={{ this_shift.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/admin/delete_assignment?key={{ p.key }}&this_shift={{ this_shift.key }}">Del</a>
                {% endifequal %}
            </td>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>

<form method="POST" action=""> 
{% if this_shift %}
    Employee: <select name="employee"> 
    {% if not i.key %}
        <option value="">{{ def_selection }}</option>
    {% endif %}
    {% for p in employees %}
        <option value="{{ p.key }}">{{ p.lastname }}, {{ p.firstname }}</option>
    {% endfor %}
    </select>
    <br>
    <input type="hidden" name="this_shift" value="{{ this_shift.key }}">
    <input type="hidden" name="key" value="{{ i.key }}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
{% else %}
    <p>select a shift</p>
{% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>