      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Alerts</a></h2>

               <p><i>work in progress</i>
               </p>


            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>