      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Partner Maint.</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Duplicate Partner names are not permitted.
               </p>


<table>
    <thead>
        <tr>
            <th>Partner Name</th>
            <th>Active</th>
            <th><i>Action</i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in partner %}
        <tr>
            <td>{{ p.name }}</td>
            {% ifnotequal p.name def_name %}
                <td>
                {% if p.is_active %}
                <a href="/root/toggle_partner?key={{ p.key }}">True</a>
                {% else %}
                <a href="/root/toggle_partner?key={{ p.key }}">False</a>
                {% endif %}
                </td>
                <td><a href="/root/create_partner?key={{ p.key }}">Edit</a>
                {% ifequal p.refcount 0 %}
                <a href="/root/delete_partner?key={{ p.key }}">Del</a>
                {% endifequal %}
                </td>
            {% else %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            {% endifnotequal %}
        </tr>
        {% endfor %}
    </body>
</table>


               <p>See the sidebar menu to the right for your options.
					</p>


<form method="POST" action="">
    Name: <input type="text" name="name" value="{{ i.name }}" maxlength="45" size="45">
    <br>
    <input type="hidden" name="key" value="{{ i.key}}">
    {% if i.key %}
    <input type="submit" name="save" value="Save!">
    {% else %}
    <input type="submit" name="add" value="Add!">
    {% endif %}
</form>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>