      	<div class="post">

      		<div class="right">

            	<h2><a href="/">Welcome Root User</a></h2>

               <!-- p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p -->

               <p>Be careful.You can render this application useless!!!
               </p>

               <p>See the sidebar menu to the right for your options.
					</p>


               <!-- p><a class="more" href="index.html">continue reading &raquo;</a></p -->

            </div>

            <div class="left">

            	<p class="dateinfo">{{ month }}<span>{{ day }}</span></p>

               	<div class="post-meta">
                </div>

            </div>
</div>