		<h3>Flickr Photos </h3>

		<p class="thumbs">
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
         <a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
      </p>
