      <h3>Archives</h3>

	   <div class="footer-list">
			<ul>
				<li><a href="index.html">January 2010</a></li>
				<li><a href="index.html">December 2009</a></li>
				<li><a href="index.html">November 2009</a></li>
				<li><a href="index.html">October 2009</a></li>
				<li><a href="index.html">September 2009</a></li>
			</ul>
		</div>

      <h3>Recent Bookmarks</h3>

	   <div class="footer-list">
			<ul>
				<li><a href="index.html">5 Must Have Sans Serif Fonts for Web Designers</a></li>
				<li><a href="index.html">The Basics of CSS3</a></li>
				<li><a href="index.html">10 Simple Tips for Launching a Website</a></li>
				<li><a href="index.html">24 ways: Working With RGBA Colour</a></li>
				<li><a href="index.html">30 Blog Designs with Killer Typography</a></li>
				<li><a href="index.html">The Principles of Great Design</a></li>
			</ul>
		</div>
