	<p class="bottom-left">
		&copy; {{ copyright_years }} <strong>Copyright</strong>&nbsp;by <a href="{{ copyright_url }}">{{ copyright }}</a>
	</p>

	<!-- p class="bottom-right">
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
	   <a href="http://validator.w3.org/check/referer">XHTML</a>	|
		<a href="index.html">Home</a> |
		<a href="index.html">Sitemap</a> |
		<a href="index.html">RSS Feed</a> |
      <strong><a href="#top">Back to Top</a></strong>
   </p -->

