   	<h3>Site Links</h3>

		<div class="footer-list">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="index.html">Style Demo</a></li>
				<li><a href="index.html">Blog</a></li>
				<li><a href="index.html">Archive</a></li>
				<li><a href="index.html">About</a></li>
				<li><a href="index.html">Template Info</a></li>
				<li><a href="index.html">Site Map</a></li>
			</ul>
		</div>

      <h3>Friends</h3>

		<div class="footer-list">
			<ul>
				<li><a href="index.html">consequat molestie</a></li>
				<li><a href="index.html">sem justo</a></li>
				<li><a href="index.html">semper</a></li>
				<li><a href="index.html">magna sed purus</a></li>
				<li><a href="index.html">tincidunt</a></li>
				<li><a href="index.html">consequat molestie</a></li>
				<li><a href="index.html">magna sed purus</a></li>
			</ul>
		</div>
