<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>{{ title }}</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="{{ author }}" />
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}" />
<meta name="robots" content="{{ robots }}" />
<meta name="googlebot" content="{{ googlebot }}" />

<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />

</head>

<body>

<!--header -->
<div id="header-wrap"><div id="header">

	<a name="top"></a>

	<h1 id="logo-text"><a href="/" title="{{ title }}">{{ title }}</a></h1>
	<p id="slogan">{{ slogan }}</p>

	<div  id="nav">
	{{ main_menu }}
	</div>

    <!-- p id="rss">
       <a href="/">{{ title }}</a>
    </p -->


<!--/header-->
</div></div>
	
<!-- content-outer -->
<div id="content-wrap" class="clear" >

	<!-- content -->
   <div id="content">

   	<!-- main -->
	   <div id="main">

       {{ post }}

        <!-- /main -->
		</div>

      <!-- sidebar -->
		<div id="sidebar">

      	<div class="about-me">

            {{ about }}
         </div>

			<div class="sidemenu">

             {{ sidebar_menu }}

			</div>

			<div class="sidemenu">

            {{ sidebar2 }}

			</div>

         <div class="popular">

            {{ sidebar3 }}

			</div>

      <!-- /sidebar -->
		</div>

    <!-- content -->
	</div>

<!-- /content-out -->
</div>
		
<!-- footer-outer -->
<div id="footer-outer" class="clear"><div id="footer-wrap">

	<div id="gallery" class="clear">

     {{ flicker }}

    </div>

	 <div class="col-a">

		{{ contact }}
	</div>

	<div class="col-a">

{{ footer_list1 }}
	</div>

   <div class="col-a">

{{ footer_list2.html }}
   </div>

   <div class="col-b">

{{ footer_list3.html }}
	</div>

<!-- /footer-outer -->
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

    {{ footer }}

<!-- /footer-bottom-->
</div>

</body>
</html>
