<h3>Admin Menu</h3>
<ul>
    <li><a href="/admin/client">Client</a></li>
    <li><a href="/admin/state">State</a></li>
    <li><a href="/admin/store">Store</a></li>
    <li><a href="/admin/project">Project</a></li>
    <li><a href="/admin/shift">Shift</a></li>
    <li><a href="/admin/rate">Rate</a></li>
    <li><a href="/admin/employee">Employee</a></li>
    <li><a href="/admin/assignment">Assignments</a></li>
    <li><a href="/admin/manager">Manager Maint.</a></li>
    <li><a href="/admin/week">Week Ending</a></li>
    <li><a href="/admin/timesheet">Timesheet</a></li>
    <li><a href="/admin/expense">Expenses</a></li>
    <li><a href="/admin/reports">Reports</a></li>
    <li><a href="/admin/alerts">Alerts</a></li>
</ul>
