				<h3>Sponsors</h3>
            <ul>
					<li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate <br />
	            	<span>Over 6,000+ Premium Web Templates</span></a>
	            </li>
					<li><a href="http://www.themelayouts.com" title="WordPress Themes">ThemeLayouts <br />
	            	<span>Premium WordPress &amp; Joomla Themes</span></a>
	            </li>
					<li><a href="http://www.imhosted.com" title="Website Hosting">ImHosted.com <br />
	            	<span>Affordable Web Hosting Provider</span></a>
	            </li>
					<li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock <br />
	            	<span>Download Amazing Stock Photos</span></a>
	            </li>
					<li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft <br />
	            	<span>Website Builder Software &amp; Tools</span></a>
	            </li>
					<li><a href="http://www.webhostingwp.com" title="Web Hosting">Web Hosting <br />
	            	<span>Top 10 Hosting Reviews</span></a>
	            </li>
				</ul>
