<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{ description }}" />
<link href="/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="menu-wrap">
  <div id="menu">
{{ menu }}
  </div>
</div>
<div id="header">
  <!-- h1>BusinessName</h1>
  <h2><b><a href="http://www.thewebhub.com">Templage Design by TheWebHub</a></b></h2 -->
</div>
<div id="content">
  <div id="columnA">
{{ content }}
  </div>
  <div id="columnB">
{{ sidebar }}
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer-wrap">
  <div id="footer">
    <p class="copyright">Copyright &copy; {{ copyright_years }} <a href="{{ copyright_url }}">{{ copyright }}</a>.</p>
    <!-- if dev p class="links"><a href="http://validator.w3.org/check/referer" class="xhtml">Valid XHTML</a>&nbsp;&nbsp;&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">Valid CSS</a> </p -->
  </div>
</div>
</body>
</html>
