    <h2>Information</h2>
    <ul>
      <li><strong>Project Management</strong> - provided by The Method Groupe. <a href="http://www.methodgroupe.com">More&#8230;</a></li>
      <li><strong>Systems &amp; Software</strong> - provided by Florida Freelance. <a href="http://www.fl2it.com">More&#8230;</a></li>
      <li><strong>Questions &amp; Support</strong> - send your detailed problem reports to: <a href="mailto:richard@fl2it.com?subject=collab question">email&#8230;</a></li>
    </ul>
