    <h2>Welcome to <b>Project Collaborator</b></h2>
    <p>This website is intended for the sole purpose of communicating project status and materials between <strong>The Method Groupe</strong> and it's clients.  All other use is prohibited.</p>
    <p>There are two type of user accounts that we support:</p>
    <ul>
    	<li><strong>Client</strong> - the client user is linked to one client account and can download and view contents of the assigned project folders.</li>
    	<li><strong>Resource</strong> - the resource user can upload upload content to any of the assigned project folders.</li>
    </ul>
    <h2>How to use this site:</h2>
    <ul>
      <li><strong>Register a user account</strong> - By registering a user account you are assuring that access to your personal data and the data of your client account is secure. You may need to create a Google account in the process, however, it will only take a moment and will not effect your workflow and will increase your project's security.</li>
      <li><strong>Request a client account</strong> - An administrator will connect you account to the client account whether you are a creative resource or a client user. All bogus requests will be ignored.</li>
    </ul>
    <h2><span style="color:orange;">Warning</span></h2>
    <p>This is a private and professional application. It is not for general consumption. If you have not been invited to use this system then it is not here for you.  All illegal activity will be reported and we will prosecute.</p>
