body
{
	margin: 0 auto;
}
.wrapper
{
	width: 751px;
	height: auto;
	text-align: center;
	display: table-cell;
	margin: 0 auto;
}
.header
{
	width: 751px;
	height: 22px;
	background-color: #000000;
	text-align: left;
	border-bottom: solid 6px #f1f1f1;
	
}

.header-text
{
	font-family: tahoma;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 6px;
	margin-left: 40px;
	padding-top: 3px;
	
}

.nav-bar
{
	width: 751px;
	height: 66px;
	background-image: url(../images/nav.jpg);
	background-repeat: repeat-x;
}

.welcome-bar
{
	width: 751px;
	height: 164px;
	background-image: url(../images/welcome-back.jpg);
	background-position: right;
	background-color: #f5f5f5;
	background-repeat: repeat-x;
}
.welcome-text-holder
{
	float: left;
	width: 390px;
	text-align: justify;
	margin-left: 40px;
	margin-top: 25px;
}

.welcome-text1
{
	font-family: tahoma;
	font-size: 26pt;
	color: #6e6e6e;	
}

.welcome-text2
{
	font-family: tahoma;
	font-size: 8pt;
	color: #6e6e6e;
	padding-top: 10px;
	line-height: 16px;
}

.news-bar
{
	width: 751px;
	height: 192px;
	background-color: #ffffff;
}

.news-text-holder
{
	float: left;
	width: 240px;
	text-align: justify;
	margin-left: 40px;
	margin-top: 25px;
}

.project-text-holder
{
	float: left;
	width: 240px;
	text-align: justify;
	margin-left: 40px;
	margin-top: 25px;
}

.title-text
{
	font-family: tahoma;
	font-size: 18pt;
	color: #6e6e6e;	
}

.date-text
{
	font-family: tahoma;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;	
}

.nav-button
{
	float: left;
	width: 148px;
	text-align: center;
	font-family: tahoma;
	font-size: 18pt;
	color: #989898;
	margin-top: 15px;
}

.copyright-bar
{
	width: 751px;
	height: 66px;
	background-color: #f0f0f0;
	border-bottom: solid 1px #e3e3e3;
}

a.nav:link {color: #6e6e6e; text-decoration: none; }
a.nav:visited {color: #6e6e6e; text-decoration: none; }
a.nav:hover {color: #000000; text-decoration: none; cursor: pointer; }
a.nav:active {color: #6e6e6e; }

